<h1>Reisetopia Hotels</h1>

<div class="container">
  <div class="row">
      <% @hotels.each do |hotel| %>
        <div class="col-12 col-sm-4 mb-4">
          <%= link_to hotel_path(hotel), class:'text-decoration-none' do %>
            <div class="card-trip">
              <%= image_tag 'waldorf.jpg'%>
              <div class="card-trip-infos">
                <div>
                  <h2> <%= hotel.name %> </h2>
                  <% hotel.rooms.each do |room| %>
                    <p> <%= room.special %></p>
                  <% end %>
                </div>
                <h2 class="card-trip-pricing"> <%= hotel.rooms.first.price %>€ </h2>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
